<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DB.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiecCuoi"
        tools:targetApi="31">
        <activity
            android:name=".addedit.AddEditSanhActivity"
            android:exported="false" />
        <activity
            android:name=".uiCT.CTSanhActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".uiCT.CTMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".addedit.AddEditMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DatTiecActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GoiDatTiecActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DichVuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ThucDonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MonAnActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SanhActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>